@charset "UTF-8" ;

/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
*/

body {
    background-color: rgb(205, 255, 203);
}

h1 {
    color: rgb(4, 109, 0);
}

h1#principal {
    text-align: center;
    background-color: rgb(4, 109, 0);;
    color: white;
}

h2 {
    color: rgb(51, 77, 49);
}

.basico {
    color: rgb(59, 116, 55);
    
}

.intermediario {
    color: rgb(129, 129, 52);

}

.avançado {
    color: rgb(121, 52, 52);

}

.destaque {
    background-color: rgba(228, 228, 100, 0.377);
}